<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
            <h3>Alice in Wonderland</h3>
            <hr class="intro-divider">
							<div class="list-inline intro-social-buttons" ng-repeat="item in vm.chapters">
							    <a ng-href="#/edit/{{item.chapter}}">
							        <h4>Item Number {{item.chapter}}</h4>
							    </a>
							</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>